<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Fresh Cart{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <nav class="navbar">
      <a href="{{ url_for('home') }}" class="brand">Fresh Cart</a>

      <div class="nav-links">
        <form action="{{ url_for('search') }}" method="get" class="search-form">
          <input type="text" name="q" placeholder="Search Products..." />
          <button type="submit">Go</button>
        </form>

        {% if session.user_id %}
        <span>Hi, {{ session.username }}!</span>

        <!-- Convert to a Javascript Window Alert -->

        {% if session.is_admin %}
        <a href="{{ url_for('admin_dashboard') }}">Dashboard</a>
        {% endif %}

        <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
        {% endif %}
      </div>
    </nav>
    <main class="container">
      {% with messages = get_flashed_messages() %} {% for m in messages %}
      <div class="flash">{{ m }}</div>
      {% endfor %} {% endwith %} {% block content %}{% endblock %}
    </main>
  </body>
</html>
